@tailwind base;
@tailwind components;
@tailwind utilities;

/* Timeline styling - hide line after last item */
.time-line-container > div:last-child .education__time > .education__line {
  display: none;
}
